
D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/df_transposed-checkpoint.csv
D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/HCAHPS-Hospital-checkpoint.csv
D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/df_clean-checkpoint.csv
Archive/.DS_Store
Archive/208PredictiveModeling
Archive/D208 - Predictive Modeling/.DS_Store
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.DS_Store
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.idea/JWillis_ D208_PA1_MultipleRegressionFinal.iml
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.idea/misc.xml
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.idea/modules.xml
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.idea/vcs.xml
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.ipynb_checkpoints/JWillis_ D208_PA1 - Multiple Regression-checkpoint.ipynb
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.ipynb_checkpoints/JWillis_D208_PA1_MultipleRegression-checkpoint.ipynb
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.ipynb_checkpoints/JWillis_D208_PA1_MultipleRegression-checkpoint.pdf
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/.ipynb_checkpoints/medical_clean-checkpoint.csv
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/.DS_Store
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression.ipynb
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder 2/JWillis_ D208_PA1 - Multiple Regression.ipynb
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder 2/JWillis_D208PredictiveModeling_PA.docx
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder 2/medical_clean.csv
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder 2/~$illis_D208PredictiveModeling_PA.docx
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder/JWillis_ D208_PA1 - Multiple Regression.ipynb
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder/JWillis_D208PredictiveModeling_PA.docx
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder/medical_clean.csv
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1 - Multiple Regression“ folder/~$illis_D208PredictiveModeling_PA.docx
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_ D208_PA1_MultipleRegression.zip
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/Archive/JWillis_D208PredictiveModeling_PA.docx
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/exportToHTML/JWillis_D208_PA1_MultipleRegression.ipynb.html
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/JWillis_ D208_PA1_b_MultipleRegression.zip
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/JWillis_D208_PA1_MultipleRegression.ipynb
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/JWillis_D208_PA1_MultipleRegression.pdf
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/JWillis_D208PredictiveModeling_PA2.docx
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/JWillis_D208PredictiveModeling_PA2.pdf
Archive/D208 - Predictive Modeling/JWillis_ D208_PA1_MultipleRegressionFinal/medical_clean.csv
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/.DS_Store
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/.ipynb_checkpoints/JWillis_D208ExpDA_PA2-checkpoint.ipynb
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/.ipynb_checkpoints/PA2- LOGISTIC REGRESSION FOR PREDICTIVE MODELING-checkpoint.pdf
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/Archive/3kfid8emf9rkc9ek30sf.zip
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/D207 D208 D209 Medical Data Considerations and Dictionary.pdf
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D207ExpDA.ipynb
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D207Exploratory_Data_Analysis_PA.docx
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D208_LogisticRegressionForExponentialModeling_PA2.pdf
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D208ExpDA_PA2.ipynb
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D208PredictiveModeling_PA2.docx
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D208PredictiveModeling_PA2_LogReg.docx
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/JWillis_D208PredictiveModeling_PA2_LogReg.pdf
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/medical_clean.csv
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/PA2- LOGISTIC REGRESSION FOR PREDICTIVE MODELING.pdf
Archive/D208 - Predictive Modeling/PA 2 - MULTIPLE REGRESSION FOR PREDICTIVE MODELING/WGU Performance Assessment 2.pdf
Archive/D209 - Data Mining I/.DS_Store
Archive/D209 - Data Mining I/D209_PA_1/.DS_Store
Archive/D209 - Data Mining I/D209_PA_1/3kfid8emf9rkc9ek30sf.zip
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/.DS_Store
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/.ipynb_checkpoints/JWillis_D209_Data_Mining_PA1-checkpoint.ipynb
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/.ipynb_checkpoints/JWillis_D209_Data_Mining_PA1-checkpoint.pdf
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/.ipynb_checkpoints/JWillis_D209_Data_Mining_PA1_jw-checkpoint.pdf
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/final_cleaned_dataset.csv
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/JWillis_D209_Data_Mining_PA1.docx
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/JWillis_D209_Data_Mining_PA1.ipynb
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/JWillis_D209_Data_Mining_PA1.pdf
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/JWillis_D209_Data_Mining_PA1_jw.pdf
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/JWillis_D209_Data_Mining_PA2.pdf
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/JWillis_D209_PA1_b.zip
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/medical_clean.csv
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/X_test_data.csv
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/X_train_data.csv
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/y_test_data.csv
Archive/D209 - Data Mining I/D209_PA_1/Attempt_2/y_train_data.csv
Archive/D209 - Data Mining I/D209_PA_1/D207 D208 D209 Medical Data Considerations and Dictionary.pdf
Archive/D209 - Data Mining I/D209_PA_1/D209_PA_1_Classification.pdf
Archive/D209 - Data Mining I/D209_PA_1/JWillis_D209_Data_Mining_PA1-jwMini.docx
Archive/D209 - Data Mining I/D209_PA_1/JWillis_D209_Data_Mining_PA1.docx
Archive/D209 - Data Mining I/D209_PA_1/medical_clean.csv
Archive/D209 - Data Mining I/D209_PA_1/NVM2 — NVM2 TASK 1- CLASSIFICATION ANALYSIS .pdf
Archive/D209 - Data Mining I/D209_PA_2/.DS_Store
Archive/D209 - Data Mining I/D209_PA_2/3kfid8emf9rkc9ek30sf.zip
Archive/D209 - Data Mining I/D209_PA_2/D207 D208 D209 Medical Data Considerations and Dictionary.pdf
Archive/D209 - Data Mining I/D209_PA_2/D209_PA_2_PredictiveAnalysis.pdf
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/.DS_Store
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/.ipynb_checkpoints/JWillis_D209_Data_Mining_PA2-checkpoint.pdf
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_Data_Mining_PA2.docx
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_Data_Mining_PA2.pdf
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2.zip
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/.ipynb_checkpoints/JWillis_D209_Data_Mining_PA2-checkpoint.ipynb
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/d_tree_test.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/d_tree_train.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/final_cleaned_dataset.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/JWillis_D209_Data_Mining_PA2.ipynb
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/JWillis_D209_Data_Mining_PA2.pdf
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/med_data.gif
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/med_data.png
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/medical_clean.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/r_forest_train_X.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/r_forest_train_y.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/r_forest_valid_X.csv
Archive/D209 - Data Mining I/D209_PA_2/jw-Feb23/JWillis_D209_PA2/r_forest_valid_y.csv
Archive/D209 - Data Mining I/D209_PA_2/JWillis_D209_Data_Mining_PA2.docx
Archive/D209 - Data Mining I/D209_PA_2/medical_clean.csv
Archive/D209 - Data Mining I/D209_PA_2/NVM2 — NVM2 TASK 2- PREDICTIVE ANALYSIS.pdf
Archive/D210 - REPRESENTATION AND REPORTING/D210 Medical Data Considerations and Dictionary.pdf
Archive/D210 - REPRESENTATION AND REPORTING/D210 PA.pdf
Archive/D210 - REPRESENTATION AND REPORTING/medical_clean.csv
Archive/D211 - Advanced Data Acquisition/.DS_Store
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/.DS_Store
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA.zip
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/.ipynb_checkpoints/ERD.pgerd-checkpoint.png
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/D211_AdvDataAquisition_JWillis_PA.twbx
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/ERD.pgerd.png
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/ERD.sql
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/hosp_ratings.csv
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/JWillis_D211_AdvancedDataAcquisition_PA.pdf
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/D211_AdvDataAcquisition_JWillis_PA/TableauConvertToCustomSQL.txt
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/ERD.pgerd
Archive/D211 - Advanced Data Acquisition/D211 - PA JWillis/JWillis_D211_AdvancedDataAcquisition.docx
Archive/D212 - Data Mining II/.DS_Store
Archive/D212 - Data Mining II/PA1/.DS_Store
Archive/D212 - Data Mining II/PA1/.idea/misc.xml
Archive/D212 - Data Mining II/PA1/.idea/modules.xml
Archive/D212 - Data Mining II/PA1/.idea/PA1.iml
Archive/D212 - Data Mining II/PA1/.idea/vcs.xml
Archive/D212 - Data Mining II/PA1/.ipynb_checkpoints/D211 - StarterFile-checkpoint.ipynb
Archive/D212 - Data Mining II/PA1/.ipynb_checkpoints/D212 - DataMiningII_PA-checkpoint.ipynb
Archive/D212 - Data Mining II/PA1/.ipynb_checkpoints/D212 Tasks 1 & 2 Medical Data Considerations and Dictionary-checkpoint.pdf
Archive/D212 - Data Mining II/PA1/.ipynb_checkpoints/JWillis_D209_Data_Mining_PA1-checkpoint.ipynb
Archive/D212 - Data Mining II/PA1/.ipynb_checkpoints/medical_clean-checkpoint.csv
Archive/D212 - Data Mining II/PA1/.ipynb_checkpoints/PA1 — CLUSTERING TECHNIQUES -checkpoint.pdf
Archive/D212 - Data Mining II/PA1/D211 - StarterFile.ipynb
Archive/D212 - Data Mining II/PA1/D212 - DataMiningII_PA copy.ipynb
Archive/D212 - Data Mining II/PA1/D212 - DataMiningII_PA2.ipynb
Archive/D212 - Data Mining II/PA1/D212 Tasks 1 & 2 Medical Data Considerations and Dictionary.pdf
Archive/D212 - Data Mining II/PA1/final_cleaned_dataset.csv
Archive/D212 - Data Mining II/PA1/JWillis_D209_Data_Mining_PA1.ipynb
Archive/D212 - Data Mining II/PA1/JWillis_D212_Data_MiningII_PA1.docx
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final.zip
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/.DS_Store
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/.ipynb_checkpoints/D212 - DataMiningII_PA_jw-checkpoint.ipynb
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/cleaned_pca_df_binary_standardized_plus.csv
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/D212 - DataMiningII_PA_jw.ipynb
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/D212 - DataMiningII_PA_jw.pdf
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/JWillis_D212_Data_MiningII_PA1.pdf
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/medical_clean.csv
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/X_test_data.csv
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/X_train_data.csv
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/y_test_data.csv
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/y_train_data.csv
Archive/D212 - Data Mining II/PA1/JWillis_D212_DataMiningII_PA1_Final/~$JWillis_D212_Data_MiningII_PA1.tmp
Archive/D212 - Data Mining II/PA1/medical_clean.csv
Archive/D212 - Data Mining II/PA1/PA1 — CLUSTERING TECHNIQUES .pdf
Archive/D212 - Data Mining II/PA1/PCAandKMeans.pdf
Archive/D212 - Data Mining II/PA1/test.py
Archive/D212 - Data Mining II/PA1/X_test_data.csv
Archive/D212 - Data Mining II/PA1/X_train_data.csv
Archive/D212 - Data Mining II/PA1/y_test_data.csv
Archive/D212 - Data Mining II/PA1/y_train_data.csv
Archive/D212 - Data Mining II/PA2/.DS_Store
Archive/D212 - Data Mining II/PA2/Archive/JWillis_D212_Data_MiningII_PA1.docx
Archive/D212 - Data Mining II/PA2/D212 Tasks 1 & 2 Medical Data Considerations and Dictionary.pdf
Archive/D212 - Data Mining II/PA2/D212_DataMiningII_PA2_JWillis.zip
Archive/D212 - Data Mining II/PA2/D212_DataMiningII_PA2_JWillis/.ipynb_checkpoints/D212_PA2_JWillis-checkpoint.ipynb
Archive/D212 - Data Mining II/PA2/D212_DataMiningII_PA2_JWillis/D212_PA2_JWillis.ipynb
Archive/D212 - Data Mining II/PA2/D212_DataMiningII_PA2_JWillis/JWillis_D212_Data_MiningII_P2.pdf
Archive/D212 - Data Mining II/PA2/D212_DataMiningII_PA2_JWillis/medical_clean.csv
Archive/D212 - Data Mining II/PA2/D212_DataMiningII_PA2_JWillis/std_df.csv
Archive/D212 - Data Mining II/PA2/D212_PA2_JWillis.pdf
Archive/D212 - Data Mining II/PA2/JWillis_D212_Data_MiningII_P2.docx
Archive/D212 - Data Mining II/PA2/medical_clean.csv
Archive/D212 - Data Mining II/PA2/PA2 - DIMENSIONALITY REDUCTION METHODS.pdf
Archive/D212 - Data Mining II/PA3/.DS_Store
Archive/D212 - Data Mining II/PA3/D212 Task 3 Market Basket (Medical) Data Considerations and Dictionary.pdf
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis.ipynb
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis.zip
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis/.ipynb_checkpoints/D212_DataMiningII_PA3_JWillis-checkpoint.ipynb
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis/cleaned_df.csv
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis/D212_DataMiningII_PA3_JWillis.ipynb
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis/D212_DataMiningII_PA3_JWillis.pdf
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis/final_list.csv
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis/JWillis_D212_Data_MiningII_P3.pdf
Archive/D212 - Data Mining II/PA3/D212_DataMiningII_PA3_JWillis_V2.zip
Archive/D212 - Data Mining II/PA3/JWillis_D212_Data_MiningII_P3.docx
Archive/D212 - Data Mining II/PA3/medical_clean.csv
Archive/D212 - Data Mining II/PA3/medical_market_basket.csv
Archive/D212 - Data Mining II/PA3/PA3 - ASSOCIATION RULES AND LIFT ANALYSIS.pdf
Archive/D213 - Advanced Data Analytics/.DS_Store
Archive/D213 - Advanced Data Analytics/PA1/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA1-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA1/D213-AdvancedDataAnalyticsPA1 - Jupyter Notebook.pdf
Archive/D213 - Advanced Data Analytics/PA1/D213-AdvancedDataAnalyticsPA1.ipynb
Archive/D213 - Advanced Data Analytics/PA1/D213-AdvancedDataAnalyticsPA1.pdf
Archive/D213 - Advanced Data Analytics/PA1/D213-AdvancedDataAnalyticsPA1_jw.pdf
Archive/D213 - Advanced Data Analytics/PA1/df_cleaned.csv
Archive/D213 - Advanced Data Analytics/PA1/df_cleaned_stationary.csv
Archive/D213 - Advanced Data Analytics/PA1/JWillis_D213_AdvancedDataAnalytics_PA1.pdf
Archive/D213 - Advanced Data Analytics/PA1/medical_time_series.csv
Archive/D213 - Advanced Data Analytics/PA2/.DS_Store
Archive/D213 - Advanced Data Analytics/PA2/.ipynb_checkpoints/WGU Performance Assessment-checkpoint.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.DS_Store
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/3combo-checkpoint.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/_df_amz-checkpoint.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/_df_CONCAT-checkpoint.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/_df_imdb-checkpoint.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/_df_yelp-checkpoint.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/_Start_df-checkpoint.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA1_v2-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA2 copy-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA2-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA2-checkpoint.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA2-Jason’s MacBook Pro-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/D213-AdvancedDataAnalyticsPA2Copy-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/jw_test-checkpoint.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/lib_install_for_py37_env-checkpoint.yml
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.ipynb_checkpoints/Start_df-checkpoint.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/.vscode/extensions.json
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/3combo.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/_df_amz.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/_df_CONCAT.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/_df_imdb.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/_df_yelp.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/AccuracyPlot.jpg
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-AdvancedDataAnalyticsPA1_v2.zip
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-AdvancedDataAnalyticsPA2 copy.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-AdvancedDataAnalyticsPA2 copy.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-AdvancedDataAnalyticsPA2.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-AdvancedDataAnalyticsPA2_Final.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-AdvancedDataAnalyticsPA2Copy.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/D213-JNB_AdvancedDataAnalyticsPA1_v2.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/jw_test.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/JWillis_Report_D213_AdvancedDataAnalytics_PA1_V2.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/lib_install_for_py37_env.yml
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/LossPlot.jpg
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/SentimentAnalysisModel.h5
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/Start_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/archive/wordcloud.jpg
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/D213-AdvancedDataAnalyticsPA2.ipynb
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/D213-AdvancedDataAnalyticsPA2.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/D213-AdvancedDataAnalyticsPA2.zip
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/.DS_Store
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment labelled sentences.zip
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/.ipynb_checkpoints/3combo-checkpoint.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/.ipynb_checkpoints/combo-checkpoint.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/.ipynb_checkpoints/imdb_labelled-checkpoint.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/.ipynb_checkpoints/readme-checkpoint.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/amazon_cells_labelled.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/combo.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/imdb_labelled.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/readme.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/sentiment_labelled_sentences/yelp_labelled.txt
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Data/UCI Machine Learning Repository- Sentiment Labelled Sentences Data Set.webloc
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/JWillis_D213_AdvancedDataAnalytics_PA2.pdf
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/_df_amz.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/_df_CONCAT.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/_Start_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/AccuracyPlot.png
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/JWillis_D213_PA2_SentimentAnalysisModel.h5
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/LossPlot.png
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/wordcloud.png
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/X_testing_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/X_training_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/X_validation_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/y_testing_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/y_training_df.csv
Archive/D213 - Advanced Data Analytics/PA2/D213-AdvancedDataAnalyticsPA2/Output/y_validation_df.csv
Archive/D213 - Advanced Data Analytics/PA2/JWillis_D213_AdvancedDataAnalytics_PA2.docx
Archive/D213 - Advanced Data Analytics/PA2/WGU Performance Assessment.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/.DS_Store
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/.DS_Store
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/.ipynb_checkpoints/D214_CapstonePresentation_PA3_JWillis-checkpoint.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Archive.zip
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Archive/D214 - Executive Summary_PA3_JWillis.docx
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Archive/D214 - Executive Summary_PA3_JWillis.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Archive/D214 - Healthcare Providers and Their Impact on Overall Hospital Ratings_PA2_JWillis.docx
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/D214 - Capstone - PA3 - JWillis.pptx
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/D214 - Executive_Summary_PA3_JWillis.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/D214_Capstone_JWillis.zip
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/D214_CapstonePresentation_PA3_JWillis.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/D214_CapstonePresentation_PA3_JWillis.pptx
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig10_One-Way ANOVA.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig1_LoadData.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig2_Clean up.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig3FPandas.info() Method.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig4_Pandas.describe() Method.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig5_Pandas head() Method.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig6_Missing or Null Values.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig7_Question and RatingDataAggregation.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig8_Ratings Distribution.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - Capstone - PA3/Images/Fig9_Boxplot of Questions.png
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.DS_Store
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/D214_Capstone_JWillis-checkpoint.ipynb
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/D214_Capstone_JWillis_P2-checkpoint.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/df_clean-checkpoint.csv
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/df_transposed-checkpoint.csv
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/.ipynb_checkpoints/HCAHPS-Hospital-checkpoint.csv
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/D214 - Healthcare Providers and Their Impact on Overall Hospital Ratings_PA2_JWillis.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/D214_Capstone_JWillis_P2.ipynb
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/D214_Capstone_JWillis_P2.pdf
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/df_clean.csv
Archive/D214---Data-Analytics-Graduate-Capstone/D214 - PA2 - JWillis/PA2 - WGU Performance Assessment.pdf
*.zip
*.csv
